NEXT_PUBLIC_API_URL=https://sayhii-mzkg.onrender.com
NEXT_PUBLIC_SOCKJS_URL=https://sayhii-mzkg.onrender.com/ws
NEXT_PUBLIC_SUPABASE_URL=https://cteejbloxyzznrddynbh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0ZWVqYmxveHl6em5yZGR5bmJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzMjE0MDIsImV4cCI6MjEwNDg5NzQwMn0.o3YNjj4fQ5AWBZWUx4ffGyCoZGZzig45m3KTKl_w69s
